<div id="player-bar">
    <ul>
        <li>
            <button>
                <i class="fa fa-backward"></i>
            </button>
        </li>
        <li>
            <button>
                <i class="fa fa-step-backward"></i>
            </button>
        </li>
        <li>
            <button>
                <i class="fa fa-play"></i>
            </button>
        </li>
        <li>
            <button>
                <i class="fa fa-step-forward"></i>
            </button>
        </li>
        <li>
            <button>
                <i class="fa fa-forward"></i>
            </button>
        </li>
    </ul>
</div>
