div#player-bar {
    background-color: #121F1F;
    border-top: 1px black solid;
    position: absolute;
    width: calc(100%);
    bottom: 0;
    ul {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            width: auto;
            height: auto;
            button{
                border:solid 2px black;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                i{
                    font-size: 20px;
                }
            }
            button:hover{
                cursor: pointer;
                color: white;
                background-color: #121F1F;
            };
        }
    }
}

